.idea
_local
roadmap.md
optimizing.md
.env
.turbo
coverage
dist
coverage-summary.json
.pnpm-debug.log
trace/

# created in CI
.pnpm-store/

# Dependency directories
node_modules/

# OS X temporary files
.DS_Store
