:root {
  --vp-c-font-family-base: Inter, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  --vp-c-brand: #b469ff;
  --vp-button-brand-border: #9a5ef4;
  --vp-button-brand-hover-bg: #a55af1;
  --vp-button-brand-hover-border: #8f53ea;
}