:root {
  --vp-c-font-family-base: Inter, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  --vp-c-brand: #9d69d1;
  --vp-c-brand-dark: #b469ff;
  --vp-button-brand-bg: #b469ff;
  --vp-button-brand-border: #9a5ef4;
  --vp-button-brand-hover-bg: #a55af1;
  --vp-button-brand-hover-border: #8f53ea;
  --vp-button-brand-active-border: #5345da;
}

html:not(.dark) {
  --vp-c-bg: #f6f8fa;
  --vp-c-bg-alt: #eaedef;
}

@media (min-width: 960px) {
  html:not(.dark) .VPNavBar.has-sidebar .content {
    background-color: rgba(0, 0, 0, 0.02);
  }

  html:not(.dark) .VPNav.no-sidebar {
    background-color: rgba(0, 0, 0, 0.02);
  }
}

html.dark {
  --vp-c-text-1: rgba(216, 212, 221, 0.87);
}